<!doctype html>
<html>
<head>
  <title>ahmed zairat</title>
   <link rel="stylesheet" href="static/home.css" >
</head>
  <body>
    <div id ="continer">
        <h1> ahmed careers</h1>
        <img id="banner" src="/static/istockphoto-2094337676-1024x1024.jpg" height="320" >
        <h2> about ahmed</h2>
        <p>
          hello world here is some information about me and my career jobes 
        </p>
        <h2>
          Open positions 
        </h2>
        <p>TODO -show the jobs here </p>
        <div id="but1">
           <button> contact us</button>
        </div>
    </div>
  </body>
</html>